a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightpink;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon-menu {
    display: inline-block;
    padding-right: 10px;
}

.login_signup-button {
    background-color: rgb(152, 211, 157);
}
